    </main>

    <footer>
        <div class="contact-social">
            <div class="contact">
                <h2>Contact</h2>
                <p>contact@chessbar.fr</p>
            </div>
            <div class="social">
                <h2>Nous suivre</h2>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100094132932723">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/chessbar33/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2023 Karim corp. All rights reserved.</p>
        </div>
    </footer>
    <script src="/scripts/searchbar.js"></script>
    <script src="/scripts/cityselect.js"></script>
</body>
</html>