<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Bar</title>
    <link rel="favicon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/9ca88f9061.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="chessbar-logo">
                <a href="/"><img src="/img/logo.png" alt="Logo de Chess Bar" /></a>
            </div>
            <nav class="navbar">
                <div id="links">
                    <li><a id="tournaments" href="/tournaments">Tournois à venir</a></li>
                    <li><a id="rules" href="/rules">Règlement</a></li>
                    <% if (locals.session.connected) { %>
                        <li><a id="account" href="/account">Profil</a></li>
                        <li><a id="logout" href="/logout">Déconnexion <%= " [" + locals.session.user.pseudo + "] " %></a></li>
                    <% } %>
                    <% if (!locals.session.connected) { %>
                        <li><a id="login" href="/login">Connexion</a></li>
                        <li><a id="register" href="/register">S&apos;inscrire</a></li>
                    <% } %>
                    <% if (locals.session.user && locals.session.user.admin) { %>
                        <li><a id="admin" href="/admin">Administration</a></li>
                    <% } %>
                    
                </div>
                <a class="icon" onclick="burgerDisplay()">
                    <i class="fa fa-bars"></i>
                </a>
            </nav>
        </div>
    </header>
    <main>