<%- include('./includes/header.ejs')%>

<h2>Profil</h2>

<form action="/account/update" method="POST" >
    <label for="email">Email : </label>
    <input required id="email" type="email" name="email" value="<%= userAccount.email %>" disabled/>
    
    <label for="password">Mot de passe : </label>
    <input required id="password" type="password" name="password" placeholder ="***" disabled/>
    
    <label for="pseudo">Pseudo : </label>
    <input required id="pseudo" type="pseudo" name="pseudo" value="<%= userAccount.pseudo %>" disabled>

    <label for="zipcode">Code Postal : </label>
    <input required id="zipcode" type="zipcode" name="zipcode" />

    <label for="city">Ville : </label>
    <input required id="city" type="city" name="city" />
    <button>Mettre à jour mon compte</button>
</form>

<%- include('./includes/footer.ejs') %>