<%- include('./includes/header.ejs') %>

<h1>Créer un nouveau tournoi</h1>

<form action="/admin/tournament/add" method="POST" enctype="multipart/form-data">

    <label for="content">Contenu de l'article</label>
    <textarea required id="content" name="content" placeholder="Contenu de votre article..."></textarea>
    
    <button>Valider</button>

</form>

<%- include('./includes/footer.ejs') %>